/* Limpar formatação padrão */
* { /* '*' seleciona todos os elementos */
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}

h1 {
    color: #4e4e4e;
    font-size: 2.5em;;
}

h2 {
    color: #f7b600;
}

h3 {
    color: #565656;
    background: #ccc;
    padding: 5px;
}

/* Formatação dos links - REGRAS MAIS GENERICAS (ACIMA) */
a {
    text-decoration: none;
}

a:link, a:visited { 
    color: #f7b600;
}

a:hover { 
    text-decoration: underline;
}

/* Formatação do menu - REGRAS MAIS ESPECIFICAS (ABAIXO) */
/* A definição da formatação específica para os links dentro do elemento #area-cabecalho sobrescrevem
a formatação default dos links feita acima. Para isso é importante que esse código esteja abaixo da
formatação padrão. */
#area-cabecalho a:link, #area-cabecalho a:visited { /* Formata apenas os links dentro do elemento #area-cabecalho */
    color: white;
    padding: 8px 12px;
}

#area-cabecalho a:hover { /* Formata apenas os links dentro do elemento #area-cabecalho */
    color: #f7b600;
    background: white;
    text-decoration: none; /* para sobrescrever o underline */
}

/* Layout */
#area-cabecalho {
    background: #f7b600;
    text-align: center;
    padding: 15px;
}

#area-principal {
    width: 920px; /* Largura padrão para dispositivos modernos */
    margin: 0px auto;
    padding: 15px;
}

#area-postagens {
    width: 660px;
    float: left;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: block;
}

#area-postagens-laterais {
    width: 240px;
    float: right;
}

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted gray;
}

#area-rodape {
    text-align: center;
    background: #ccc;
    padding: 15px;
    clear: both;
}

.titulo {
    padding: 15px;
}

.claro {
    color: white;
}